*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    
}


body {
    display: flex;
    flex-direction: column;
    
    
    
    

    
}


.container {
    display: flex;
    height: 500px;
    max-width: 2000px;
    background-color: #1f2937;
    
    
    
    
}




.container img {
    display: flex;
    margin-top: -30px;
    margin-left: 307px;
    
}


ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 16px;
    gap: 50px;
    font-family: Arial;
    margin-left: 469px;

   
   
}


a {
    color: white;
    font-size: larger;
    text-decoration: none;
}

#nike {
    display: flex;
    margin-top: 140px;
    margin-right: 300px;
    
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    font-family: Arial;
   

}

p {
   color: white;
   font-size: 18px;
   
   
}


button {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 9px;
    margin-top: 9px;
   
}

#introtext {
    margin-left: 344px;
}


#wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}


/*End of intro and all of its contents*/



.container3 {
    display: flex;
    height: 400px;
    max-width: 2000px;
    background-color: white;
    margin: 0 auto;

    
    
}




.container3 > * {
    margin: auto;
}




.content2 {
    display: flex;
    justify-content: center;
    
}





h2 {
    display: flex;
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial;
    margin-top: 50px;
    
   
}


.content3 {
    display: flex;
    margin: 0 auto;
    gap: 70px;
}


.content3 > * { 
    margin: auto;
}


.content3 .info {
    justify-content: center;
    margin-top: 50px;
    
    
}



.info img {
    border-radius: 15px;
    
}

/*End of container 3 sneaker section*/


.container4 {
    display: flex;
    background-color: #e5e7eb;
    height: 400px;
    max-width: 2000px;
    
}


.container5 {
    display: flex;
    margin: 0 auto;
}

.container5 {
    margin: auto;
}




.container5 p {
    color: black;
    font-size: 36px;
    font-style: italic;
}

.nametag {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;

}

/*End of container 4*/


.container6 {
    display: flex;
    background-color: white;
    height: 300px;
    max-width: 2000px;
    margin: 0 auto;
    
    
    
}

.container6 .flex-container {
    margin: auto;
}






.flex-container {
    background-color: #3882f6;
    width: 1000px;
    height: 10px;
    padding: 60px;
    border: 10px solid #3882f6;
    border-radius: 10px;
    
    
    
    
}

.flex-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}









.container7 #buttonid {
    display: flex;
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
    padding: 6px 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    


}


.container7 {
    display: flex;
    margin: 0 auto;
}


#buttonid {
    margin-left: 500px;
    
}


.container8 {
    
    margin: 0 auto;
}

.container8 {
    position: absolute;
}


#text {
    margin-right: 600px;
}

#text {
    font-size: 25px;
    font-weight: bold;
}






















































































 


    
    
    

    


    



 
    




































    
    
    


    
































 

























    

