*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    
}


body {
    display: flex;
    flex-direction: column;
    
    

    
}


header {
    height: 500px;
    max-width: 2000px;
    background-color: #1f2937;
}


ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    justify-content: flex-end;
    margin-right: 400px;
    margin-top: 18px;

}


a {
    color: white;
    font-size: larger;
    text-decoration: none;
}











   













































 


    
    
    

    


    



 
    




































    
    
    


    
































 

























    

